*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.header {
  background-color: #D65814; }
  .header__box {
    display: flex;
    justify-content: space-between; }
  .header__logo {
    height: 5rem; }
