@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,700&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 400;
  color: #787878; }

.heading-primary {
  font-size: 3.2rem; }

.heading-secondary {
  font-size: 3rem; }

.heading-tertiary {
  font-size: 2.4rem; }

.heading-quaternary {
  font-size: 2.2rem; }

.text-center {
  text-align: center; }

.padding-top-big {
  padding-top: 6rem; }

.margin-top-mid {
  margin-top: 3rem; }

.margin-bottom-big {
  margin-bottom: 6rem; }

.center-horizontally {
  display: flex;
  justify-content: center; }

.header {
  background-color: #D65814;
  border-bottom: 2px solid #754c35; }
  .header__box {
    padding: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    height: 4.5rem; }

.grid-container {
  padding: 0 .5rem; }

.hamburger {
  width: 5rem;
  height: 3.7rem;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  position: relative;
  cursor: pointer; }
  .hamburger__bar, .hamburger__bar::before, .hamburger__bar::after {
    margin: 0 auto;
    content: "";
    width: 3rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 1.6rem;
    left: .9rem; }
  .hamburger__bar::before {
    top: -.7rem;
    left: 0; }
  .hamburger__bar::after {
    top: .7rem;
    left: 0; }

.navigation {
  display: none;
  opacity: 0; }
  .navigation__list {
    padding: .3rem; }
  .navigation__item {
    color: #fff;
    font-size: 1.4rem;
    padding: .5rem 0 .5rem 2rem;
    border-radius: 3px; }
    .navigation__item:not(:last-child) {
      margin-bottom: .5rem; }
    .navigation__item:hover {
      background-color: #fff;
      color: #545454; }
  .navigation__link {
    color: inherit; }

.dropdown-button {
  background-color: transparent;
  outline: none;
  border: none;
  color: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer; }
  .dropdown-button__icon {
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
    display: inline-block;
    background-size: cover;
    background-image: url(../img/menu-arrow.svg); }

.dropdown__list {
  padding: 1rem 0 0 3rem;
  display: none;
  opacity: 0; }

.dropdown__item:not(:last-child) {
  padding-bottom: 1rem; }

.dropdown__link {
  color: #fff; }

.visible {
  display: block;
  opacity: 1; }

.ab-item {
  margin-top: 3rem; }
  .ab-item__heading {
    margin: 0 0 .9rem 0;
    color: #545454; }
  .ab-item__text {
    font-size: 1.7rem;
    line-height: 2.4rem;
    letter-spacing: 1px;
    margin: 0 0 2rem 0;
    color: #999999; }
  .ab-item__link {
    color: #E47133;
    font-size: 1.5rem; }

.event {
  margin-top: 3rem; }
  .event__image {
    width: 100%; }
  .event__heading {
    margin: 2rem 0 .5rem 0;
    color: #676767; }
  .event__link {
    color: #D65814; }
  .event__sub-text {
    font-style: italic;
    font-size: 1.4rem; }
  .event__text {
    line-height: 2.4rem; }

.blog {
  margin-top: 3rem; }
  .blog__image {
    width: 100%; }
  .blog__heading {
    margin: 1rem 0 .5rem 0; }
  .blog__link {
    color: #D65814; }
  .blog__data {
    font-size: 1.4rem; }

.button {
  display: block;
  padding: .8rem 1.3rem;
  background-color: #fff;
  border: 1px solid #545454; }
  .button:hover {
    background-color: #f0f0f0; }

.section-banner {
  padding: 10rem 1.5rem;
  text-align: center;
  background-color: #E47133;
  color: #fff; }
  .section-banner__text {
    line-height: 1.9; }
