$color-primary: #E47133;
$color-primary-dark: #D65814;

$color-bg-primary: #FFFFFF;
$color-bg-secondary: #F8F8F8;

$color-border: #DDDDDD;
$color-border-2: #CCCCCC;

$color-grey-1: #545454;
$color-grey-2: #676767;
$color-grey-3: #999999;
$color-grey-4: #787878;