.footer {
  background-color: $color-primary-dark;
  padding: 5rem 1rem;
  text-align: center;
  margin-top: 4rem;
}

.sub-nav {
  margin: 0 auto;

  &__list {
    padding: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  &__item {
    display: inline-block;
    font-size: 1.4rem;

    &:not(:last-child) {
      padding-right: 0.5rem;
      border-right: 1px solid #fff;
    }

    &:not(:first-child) {
      padding-left: 0.2rem;
    }
  }

  &__link {
    color: #fff;

    &:hover {
      color: #bbb;
    }
  }
}

.socials {
  margin: 0 auto 1rem auto;
}

.social {
  &__link {
    display: inline-block;
    margin: 0 0.2rem;
    padding: 2px;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    background: #fff;
    font-size: 1.4rem;
    border-radius: 50%;
  }

  &__icon {
    display: block;
    color: $color-primary-dark;
    border: 1px dashed $color-primary-dark;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    padding-top: 0.8rem;
  }
}

.copyrights {
  display: block;
  color: #fff;
  font-size: 1.4rem;

  &__link {
    color: #fff;

    &:hover {
      color: #bbb;
    }
  }
}
