.form {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;

  &--subscribe {
    flex-direction: row;
    justify-content: center;
  }
}

input {
  padding: 0.8rem 1.4rem;
  border: 1px solid $color-border;
}

.fieldset {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.5rem;
  color: #fff;
  vertical-align: bottom;

  input {
    margin-right: 0.5rem;
  }

  label {
    font-size: 1.4rem;
  }
}

.gender-fieldset {
  input[type="radio"] {
    display: none;
  }

  input#male:checked ~ label[for="male"] {
    box-shadow: inset 0px 0px 11px 2px rgba(0, 0, 0, 0.2);
    border-color: $color-border-blue-dark;

    &:hover {
      background-color: $color-secondary;
    }
  }

  input#female:checked ~ label[for="female"] {
    box-shadow: inset 0px 0px 11px 2px rgba(0, 0, 0, 0.2);
    border-color: $color-border-blue-dark;

    &:hover {
      background-color: $color-secondary;
    }
  }
}

.input-email {
  &--subscribe {
    padding: 1.5rem 2rem;
    border-right: none;
  }
}
