.hamburger {
   padding: .5rem;
   background-color: transparent;
   border: 3px solid $color-bg-primary;
   border-radius: .8rem;
   position: relative;
   cursor: pointer;

   @media screen and (min-width: $tablet) {
      display: none;
   }
   
   &__box {
      display: block;
      width: 4rem;
      height: 3rem;
      position: relative;
   }

   &__inner {
      @include hamburger-bar;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: .2s ease-in-out;

      &::before,
      &::after {
         @include hamburger-bar;
         content: "";
         transition: .2s ease-in-out;
      }

      &::before {
         top: -1rem;
      }

      &::after {
         top: 1rem;
      }
   }
}

.hamburger--active .hamburger__inner {
   background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
   transform: translateY(1rem) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
   transform: translateY(-1rem) rotate(-45deg);
}