.navigation {
   display: none;
   opacity: 0;
   
   &__list {
     padding: .3rem;
   }

   &__item {
      color: #fff;
      font-size: 1.4rem;
      padding: .5rem 0 .5rem 2rem;
      border-radius: 3px;

      &:not(:last-child) {
         margin-bottom: .5rem;
      }

      &:hover {
         background-color: #fff;
         color: $color-grey-1;
      }
   }

   &__link {
      color: inherit;
   }
}

.dropdown-button {
   background-color: transparent;
   outline: none;
   border: none;
   color: inherit;
   margin: 0;
   padding: 0;
   cursor: pointer;

   &__icon {
      width: 1rem;
      height: 1rem;
      margin-left: 1rem;
      display: inline-block;
      background-size: cover;
      background-image: url(../img/menu-arrow.svg);
   }
}

.dropdown {
   &__list {
      padding: 1rem 0 0 3rem;

      display: none;
      opacity: 0;
   }

   &__item {
      &:not(:last-child) {
         padding-bottom: 1rem;
      }
   }

   &__link {
      color: #fff;
   }
}

.visible {
   display: block;
   opacity: 1;
}