.subscribe {

   &__form {
      display: flex;
      justify-content: center;
   }

   &__input {
      padding: 1.5rem 2rem;
      border: 1px solid $color-border;
      border-right: none;
   }

   &__button {
      border: 1px solid $color-border;
   }
}