*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
   // This defines what 1rem is
   font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
   box-sizing: border-box;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

.main {
   padding: 0 1.5rem;
}

.section {
   padding-top: 6rem;

   &__heading {
      text-align: center;
   }
}