body {
   font-family: 'Lato', sans-serif;
   font-size: 1.3rem;
   line-height: 1.4;
   font-weight: 400;
   color: $color-grey-2;
}

.heading-primary {
   font-size: 2.8rem;
}

.heading-secondary {

}

.heading-tertiary {
   font-size: 2.4rem;
   color: $color-grey-1;
}