.section-banner {
  padding: 10rem 1.5rem;
  text-align: center;
  background-color: $color-primary;
  color: #fff;

  &__heading {
    font-size: 2.8rem;
  }

  &__text {
     line-height: 1.9;
  }
}
