.section {
  &--banner {
    padding: 10rem 1.5rem;
    text-align: center;
    background-color: $color-primary;
    color: $color-bg-primary;
  }

  &--after-banner {
    margin: 0 auto;
  }

  &--subscribe {
    background-color: $color-bg-secondary;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
  }
}

.banner-text {
  line-height: 1.9;
}

.banner-heading {
   color: #fff;
}

.button-wrapper {

   @media screen and (min-width: $tablet) {
      grid-column: 1 / span 12;
   }
}